html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  color: #a7dce0;
  display: flex;
  align-items: center;
  background-color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  text-shadow: none;
  color: #a7dce0;
  background-color: #000;
}

::-moz-selection {
  text-shadow: none;
  color: #a7dce0;
  background-color: #000;
}

h1 {
  font-weight: bold;
  line-height: 1.75;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  color: #6cc5cb;
  margin: 0;
  padding: 0;
}

a {
  color: #a7dce0;
  text-decoration: none;
}

a:hover {
  color: #a7dce0;
  opacity: 0.9;
  text-decoration: underline;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  text-align: center;
}

.corner-bl {
  position: fixed;
  left: 0;
  bottom: 0;
}

.corner-br {
  position: fixed;
  right: 0;
  bottom: 0;
  line-height: 1.2;
  text-align: left;
}

.fab:hover {
  color: #a7dce0;
  opacity: 0.9;
}

.logo-light {
  color: #a7dce0;
}

.logo-dark {
  color: #6cc5cb;
}

/* Larger desktopss */

@media screen and (min-width: 2400px) {
  h1 {
    font-size: 24em;
  }
  h2 {
    font-size: 4.8em;
  }
  .fab {
    margin: 0 18px 0 0;
    font-size: 3.6em;
  }
}

/* Large desktops and laptops */

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 12em;
  }
  h2 {
    font-size: 2.4em;
  }
  .fab {
    margin: 0 12px 0 0;
    font-size: 1.8em;
  }
}

/* Landscape tablets and medium desktops */

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  h1 {
    font-size: 10em;
  }
  h2 {
    font-size: 2em;
  }
  .fab {
    margin: 0 12px 0 0;
    font-size: 1.5em;
  }
}

/* Portrait tablets and small desktops */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 1.6em;
  }
  .fab {
    margin: 0 9px 0 0;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 1.6em;
  }
  .fab {
    margin: 0 9px 0 0;
    font-size: 1.2em;
  }
}

/* Landscape phones and portrait tablets */

@media screen and (min-width: 321px) and (max-width: 767px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 0.8em;
  }
  .fab {
    margin: 0 9px 0 0;
    font-size: 0.6em;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) and (orientation: portrait) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 0.8em;
  }
  .fab {
    margin: 0 9px 0 0;
    font-size: 0.6em;
  }
}

/* Portrait phones and smaller */

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 0.4em;
  }
  .fab {
    margin: 0 6px 0 0;
    font-size: 0.3em;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 0.4em;
  }
  .fab {
    margin: 0 6px 0 0;
    font-size: 0.3em;
  }
}
